body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
   }
   
   main {
       height: 100vh;
       width: 100vw;
       margin: 10px;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
   }
   
   header {
       flex-basis: 100%;
       text-align: center;
       margin: 10px;
       background-color: lightgray;
       padding: 10px;
       border: 2px ridge black;
       border-radius: 20px;
       width: 400px;
   }
   
   #img_container {
       flex: 1;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       width: 825px;
       align-items: flex-start;
   } 

   
   #img_container img {
       flex: auto;
       margin: 5px;
       width: 236px;
   }

   
   /* mobile */
   @media screen and (max-width: 500px) {
       main {
           flex-direction: row;       
       }
        #img_container {
            height: 900px;
        }    
   
   }